
*{
    font-family: monospace;
}

body {
    background-color: rgb(0, 0, 0);
}

p {
    margin-left: 16px;
    color: rgb(0, 0, 0);
}

td {
    border-style:outset;
}

#horizontallist ul {
    list-style: none;
}

#horizontallist li {
    display: inline;
}



.thebox {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgb(201, 201, 201);
    font-size: medium;
    border-style: outset;
}

.blog-entry {
    padding-left: 4%;
    padding-right: 12%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgb(201, 201, 201);
    text-align: left;
    font-size: medium;
    border-style: outset;
}


.entry {
    font-size: large;
    border-style: outset;
    background-color: rgb(129, 129, 129);
    color: black;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8%;
    text-indent: 2;
}

.entry * {
    margin: 10px;
}

.entry a:link {
    color: rgb(255, 255, 255);
}

.entry a:hover {
    color:rgb(255, 255, 255);
}

.entry a:visited {
    color: rgb(255, 255, 255);
}

/*
p {
    size: 16mm;
    text-align: center;
    color: blue;
}
*/
/*
p {
    size: 16mm;
    text-align: center;
    color: blue;
}
*/